#task_description {
  font-size: 20px;
  width: 200px;
  font-family: 'Nunito', sans-serif;
}


.checked {
  color: red;
  text-decoration: line-through;
}

ul {
  list-style: none;
}

body {
  background-color: #F38630;
  color: #E0E4CC;
  font-family: 'Nunito', sans-serif;
  margin-left: 300px;
  font-size: 30px;
}

h1 {
  font-size: 100px;
  font-style: bold;
}

.check_task {
  margin-left: 5px;
}

.delete {
  margin-left: 25px;
}

.trash {
  height: 20px;
}